.container {
    width: -webkit-fill-available;
    height: -webkit-fill-available;
}

.sidenav{
    width: 250px;
}

img {
    width: -webkit-fill-available;
    max-width: 100%;
    max-height: 50%;
    opacity: 0.8;
}

.imagen-texto {
    position: relative;
    z-index: 1;
}

.imagen-texto .texto {
    position: absolute;
    color: currentColor;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4vw;
    line-height: 100%;
    font-weight: 500;
}

.textoDash{
    text-align: center;
    font-size: 2vw;
    margin-top: 30px;
    display: table-cell;
    padding: 30px;
}

.container-links{
    margin: 10px;
}

h1{
    text-align: center;
}