.container{
    height: -webkit-fill-available;
    width: -webkit-fill-available;
    font-family: 'Maven Pro', sans-serif;
}

.sidenav{
    width: 250px;
}

img {
    width: -webkit-fill-available;
    max-width: 100%;
    max-height: 50%;
    opacity: 0.8;
}

.container-links{
    margin: 10px;
}

h2{
    text-align: center;
}