body {
    margin: 0;
    padding: 0;
}

.container {  
    text-align: center;
    color: black;
    transition: linear;
    transform: translateY(100px);
}

img{
    width: -webkit-fill-available;
    max-width: 50%;
    max-height: 50%;
}

.container h1 {
    color: #d71921;   
}

.container a {
    text-decoration: none;
    background: #e55039aa;
    color: #fff;
    padding: 12px 24px;
    display: inline-block;
    border-radius: 25px;
    font-size: 14px;
    text-transform: uppercase;
    transition: 0.4s;
}

.container a:hover {
    background: #d71921;
}